/* Default styles for larger screens */
.main {
    border: 3px solid orangered;
    margin: 50px auto; /* Center the container */
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    opacity: 90%;
}

/* Add styles for smaller screens using media query */
@media screen and (max-width: 600px) {
    .main {
        margin: 20px auto; /* Adjust margin for smaller screens */
    }

    input {
        width: calc(100% - 10px); /* Adjust input width for smaller screens */
    }

    .datetime-inputs {
        flex-direction: column; /* Stack date and time inputs vertically */
    }

    #date {
        margin-right: 0; /* Remove margin for date input */
        margin-bottom: 10px; /* Add bottom margin for date input */
    }
}

hr {
    border: 1.5px solid orangered;
}

h2,
p {
    text-align: center;
}

h2 {
    color: orangered;
    font-weight: bold;
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(https://img.freepik.com/free-vector/businessman-planning-events-deadlines-agenda_74855-6274.jpg?w=1060&t=st=1699025824~exp=1699026424~hmac=e2a49a5402efccceaf363aedfc84af1b83ad57f67c0cc49370187d74fb706f55);
}

input {
    padding: 5px;
}

.datetime-inputs {
    display: flex;
}

#date {
    margin-right: 20px;
}

button {
    background-color: orangered;
    margin-top: 10px;
    border-radius: 3px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    width: 100%;
}
